In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
raw_data_dir = '/cluster/tufts/hugheslab/datasets/eicu_v2.0/v20210518/eicu_extract/'
raw_file_csv = os.path.join(raw_data_dir, 'eicu_extract.hdf')

In [3]:
data_df = pd.read_hdf(raw_file_csv, key='data_df')
data_df = data_df.reset_index()

In [4]:
lvm_df = pd.read_hdf(raw_file_csv, key='labs_vitals_treatments')
lvm_df = lvm_df.reset_index()

id_cols = ['subject_id', 'hadm_id', 'icustay_id']
time_col = ['hours_in']
# remove multiindex from eicu dataframe
lvm_df.columns = id_cols + time_col + ['_'.join(col) for col in lvm_df.columns.values if ((col[0] not in id_cols)&(col[0] not in time_col))]

meaurement_cols = []
for i in lvm_df.columns:
    if (i not in id_cols)&(i!=time_col):
        meaurement_cols.append(i)

In [5]:
exclude_measurements_list = ['treatment_treatment_list', 'treatment_treatment_area', 
                             'treatment_specific_treatment', 'noninvasive_mean_mean',
                            'noninvasive_mean_count', 'noninvasive_mean_std']
final_measurements_cols = []
for col in meaurement_cols:
    if (('_mean' in col)&(col not in exclude_measurements_list)):
        final_measurements_cols.append(col)

In [6]:
lvm_df = lvm_df[id_cols + time_col + final_measurements_cols]

In [7]:
lvm_df = pd.merge(lvm_df, data_df[id_cols + ['age', 'gender']], on=id_cols, how='left')

In [28]:
data_df['mort_hosp'].sum()/len(data_df['hadm_id'].unique())

0.08245606792442445

In [52]:
data_df

,subject_id,hadm_id,icustay_id,hospital_id,region,icustay_seq,gender,age,ethnicity,los_icu,...,intime,outtime,max_hours_unit,max_hours_hospital,deathtime,discharge_location,mort_hosp,mort_icu,hospital_discharge_year,unit_type
0,002-10052,137239,151900,73,Midwest,1,0.0,66,Caucasian,2.375000,...,0,58,58,106,NaN,Skilled Nursing Facility,0.0,0.0,2014,MICU
1,002-10063,189145,218742,73,Midwest,1,0.0,69,Caucasian,3.583333,...,0,86,86,130,NaN,Rehabilitation,0.0,0.0,2015,Neuro ICU
2,002-10066,185872,214497,73,Midwest,1,0.0,42,African American,2.083333,...,0,51,51,141,NaN,Home,0.0,0.0,2014,Med-Surg ICU
3,002-10076,187781,216951,73,Midwest,1,0.0,46,African American,5.916667,...,0,142,142,722,NaN,Rehabilitation,0.0,0.0,2014,Neuro ICU
4,002-1012,162659,184757,73,Midwest,1,0.0,81,Caucasian,4.916667,...,0,119,119,336,NaN,Skilled Nursing Facility,0.0,0.0,2014,MICU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72664,035-9957,2741786,3351785,458,South,1,1.0,74,Caucasian,1.500000,...,0,37,37,83,NaN,Skilled Nursing Facility,0.0,0.0,2015,Cardiac ICU
72665,035-9959,2731423,3340321,458,South,1,1.0,44,Caucasian,2.666667,...,0,65,65,65,NaN,Home,0.0,0.0,2014,Cardiac ICU
72666,035-996,2736458,3345874,458,South,1,1.0,55,African American,1.916667,...,0,46,46,190,NaN,Other Hospital,0.0,0.0,2014,Cardiac ICU
72667,035-9966,2742533,3352628,458,South,1,1.0,60,African American,1.291667,...,0,31,31,49,NaN,Home,0.0,0.0,2015,MICU
72668,035-9975,2731781,3340712,458,South,1,1.0,69,African American,5.625000,...,0,135,135,187,NaN,Home,0.0,0.0,2015,CTICU

In [56]:
len(data_df['hadm_id'].unique())

72669

In [57]:
len(lvm_df['hadm_id'].unique())

72669

In [70]:
data_df['gender'].unique()

array([ 0.,  1., nan])

In [76]:
lvm_df

,subject_id,hadm_id,icustay_id,hours_in,BUN_mean,Hct_mean,bedside glucose_mean,creatinine_mean,glucose_mean,potassium_mean,sao2_mean,heart_rate_mean,respiratory_rate_mean,st1_mean,st2_mean,st3_mean,noninvasive_systolic_mean,noninvasive_diastolic_mean
0,002-10052,137239,151900,0,NaN,NaN,NaN,NaN,NaN,NaN,100.0,90.0,NaN,NaN,NaN,NaN,73.500000,48.500000
1,002-10052,137239,151900,1,NaN,NaN,NaN,NaN,NaN,NaN,100.0,74.0,NaN,NaN,NaN,NaN,86.375000,50.500000
2,002-10052,137239,151900,2,19.0,NaN,NaN,0.84,139.0,3.7,100.0,78.0,NaN,NaN,NaN,NaN,95.400000,52.400000
3,002-10052,137239,151900,3,NaN,NaN,NaN,NaN,NaN,NaN,100.0,77.0,NaN,NaN,NaN,NaN,108.333333,73.166667
4,002-10052,137239,151900,4,NaN,NaN,NaN,NaN,NaN,NaN,99.8,80.8,NaN,NaN,NaN,NaN,114.400000,67.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5137279,035-9975,2731781,3340712,131,NaN,NaN,NaN,NaN,NaN,NaN,96.0,97.0,23.0,30.0,70.0,40.0,141.000000,77.000000
5137280,035-9975,2731781,3340712,132,NaN,NaN,NaN,NaN,NaN,NaN,98.0,97.0,22.0,30.0,70.0,40.0,154.000000,85.000000
5137281,035-9975,2731781,3340712,133,NaN,NaN,124.0,NaN,NaN,NaN,97.0,102.0,25.0,30.0,60.0,30.0,149.000000,80.000000
5137282,035-9975,2731781,3340712,134,NaN,NaN,NaN,NaN,NaN,NaN,98.0,98.0,18.0,40.0,70.0,30.0,162.000000,86.000000
5137283,035-9975,2731781,3340712,135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
pd.set_option("display.precision", 4)
lvm_describe_df = lvm_df.describe(percentiles=[0.01, 0.99])

In [9]:
lvm_describe_df.loc[['min', 'max'], :]

,hadm_id,icustay_id,hours_in,BUN_mean,Hct_mean,bedside glucose_mean,creatinine_mean,glucose_mean,potassium_mean,sao2_mean,heart_rate_mean,respiratory_rate_mean,st1_mean,st2_mean,st3_mean,noninvasive_systolic_mean,noninvasive_diastolic_mean,age,gender
min,128941.0,141194.0,0.0,1.0,1.0,10.0,0.06,0.0,0.0,0.0,0.0,0.0,-14.75,-25.0,-22.3625,0.0,0.0,15.0,0.0
max,2743075.0,3353226.0,241.0,289.0,68.5,682.0,38.99,2555.0,12.2,100.0,270.0,175.0,660.00,780.0,990.0000,272.0,245.0,92.0,1.0

In [86]:
lvm_describe_df

,hadm_id,icustay_id,hours_in,BUN_mean,Hct_mean,bedside glucose_mean,creatinine_mean,glucose_mean,potassium_mean,sao2_mean,heart_rate_mean,respiratory_rate_mean,st1_mean,st2_mean,st3_mean,noninvasive_systolic_mean,noninvasive_diastolic_mean
count,5.1373e+06,5.1373e+06,5.1373e+06,263739.0000,268133.0000,731148.0000,265078.0000,270905.0000,266761.0000,941592.0000,1.0046e+06,912745.0000,384981.0000,404187.0000,377815.0000,4.0839e+06,4.0841e+06
mean,1.4165e+06,1.7795e+06,4.9762e+01,27.6915,31.1440,148.3507,1.5661,142.6174,4.0281,96.6880,8.4952e+01,19.7765,1.6505,2.5246,2.3281,1.2348e+02,6.6287e+01
std,8.2063e+05,1.0011e+06,4.4158e+01,22.3283,6.4292,58.4504,1.6461,67.4503,0.6287,3.3862,1.8242e+01,6.3264,13.1114,16.8612,16.5005,2.2753e+01,1.4866e+01
min,1.2894e+05,1.4119e+05,0.0000e+00,1.0000,1.0000,10.0000,0.0600,0.0000,0.0000,0.0000,0.0000e+00,0.0000,-14.7500,-25.0000,-22.3625,0.0000e+00,0.0000e+00
25%,7.1697e+05,9.7290e+05,1.7000e+01,13.0000,26.3000,110.0000,0.7200,104.0000,3.6000,95.0000,7.2000e+01,16.0000,-0.1500,-0.2650,-0.2000,1.0700e+02,5.6000e+01
50%,1.2769e+06,1.6425e+06,3.6000e+01,21.0000,30.5000,135.0000,1.0000,127.0000,4.0000,97.0000,8.3000e+01,19.0000,0.0000,0.0000,0.0000,1.2100e+02,6.5000e+01
75%,2.2821e+06,2.8235e+06,7.0000e+01,35.0000,35.5000,170.0000,1.6900,160.0000,4.3000,99.0000,9.6250e+01,23.0000,0.1600,0.3000,0.2500,1.3850e+02,7.5000e+01
max,2.7431e+06,3.3532e+06,2.4100e+02,289.0000,68.5000,682.0000,38.9900,2555.0000,12.2000,100.0000,2.7000e+02,175.0000,660.0000,780.0000,990.0000,2.7200e+02,2.4500e+02

In [106]:
mort_hosp = data_df['mort_hosp'].values
mort_icu = data_df['mort_icu'].values

print('hospital mortality ratio : %.3f'%(np.nansum(mort_hosp)/len(mort_hosp)))
print('icu mortality ratio : %.3f'%(np.nansum(mort_icu)/len(mort_icu)))

hospital mortality ratio : 0.082
icu mortality ratio : 0.048

In [109]:
np.logical_and(mort_hosp.astype(int), mort_icu.astype(int)).sum()

3454

In [111]:
np.nansum(mort_icu)

3488.0

In [114]:
# print info of subject who dies in the hospital
mort_hosp_inds = np.flatnonzero(mort_hosp==1)

In [115]:
mort_hosp_inds

array([   54,    56,    85, ..., 72658, 72660, 72663])

In [122]:
mort_hosp_subj = data_df.loc[[mort_hosp_inds[0]]]

In [123]:
pd.merge(lvm_df, mort_hosp_subj, on=id_cols, how='inner')

,subject_id,hadm_id,icustay_id,hours_in,BUN_mean,Hct_mean,bedside glucose_mean,creatinine_mean,glucose_mean,potassium_mean,...,intime,outtime,max_hours_unit,max_hours_hospital,deathtime,discharge_location,mort_hosp,mort_icu,hospital_discharge_year,unit_type
0,002-10798,151879,170901,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,135,135,163,163.0,Death,1.0,0.0,2014,Med-Surg ICU
1,002-10798,151879,170901,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,135,135,163,163.0,Death,1.0,0.0,2014,Med-Surg ICU
2,002-10798,151879,170901,2,NaN,NaN,NaN,NaN,NaN,NaN,...,0,135,135,163,163.0,Death,1.0,0.0,2014,Med-Surg ICU
3,002-10798,151879,170901,3,NaN,NaN,NaN,NaN,NaN,NaN,...,0,135,135,163,163.0,Death,1.0,0.0,2014,Med-Surg ICU
4,002-10798,151879,170901,4,NaN,NaN,NaN,NaN,NaN,NaN,...,0,135,135,163,163.0,Death,1.0,0.0,2014,Med-Surg ICU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,002-10798,151879,170901,131,NaN,NaN,NaN,NaN,NaN,NaN,...,0,135,135,163,163.0,Death,1.0,0.0,2014,Med-Surg ICU
132,002-10798,151879,170901,132,NaN,NaN,NaN,NaN,NaN,NaN,...,0,135,135,163,163.0,Death,1.0,0.0,2014,Med-Surg ICU
133,002-10798,151879,170901,133,NaN,NaN,NaN,NaN,NaN,NaN,...,0,135,135,163,163.0,Death,1.0,0.0,2014,Med-Surg ICU
134,002-10798,151879,170901,134,NaN,NaN,NaN,NaN,NaN,3.8,...,0,135,135,163,163.0,Death,1.0,0.0,2014,Med-Surg ICU
135,002-10798,151879,170901,135,NaN,NaN,NaN,NaN,NaN,NaN,...,0,135,135,163,163.0,Death,1.0,0.0,2014,Med-Surg ICU